<!doctype html>
<html lang="en">
<head>
    <base href="/">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vimala Rowe</title>
    <script src="https://cdn.auth0.com/js/lock/10.8/lock.min.js"></script>
    <script src="https://use.typekit.net/pnt8itm.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!--<link rel="stylesheet" type="text/css" href="../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css">-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
        .loader {
            position: absolute;
            left: 50%;
            top: 50%;
            z-index: 1;
            width: 50px;
            height: 50px;
            margin: -25px 0 0 -25px;
            -webkit-animation: spin 2s linear infinite;
            animation: spin 1s linear infinite;
            border: 5px solid #f3f3f3;
            border-top: 5px solid #555;
            border-radius: 50%;
        }

        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }
    </style>
</head>
<body>
<my-app><div class="loader"></div></my-app>


<script src="/js/app/app.bundle.js"></script>
<script src="/js/app/styles.bundle.js"></script>
</body>
</html>