<div fxLayout="column" fxFlexFill class="main-content">
    <div fxFlex="100px"></div>
    <div  class="quote" fxFlex="0 0 auto" fxlayout="row" fxLayoutAlign="end stretch" >

            <div fxFlex></div>
            <div fxFlex="0 1 auto" fxFlexAlign="center" class="quote-container" fxHide.lt-md="true" >
                <img src="../../../images/double-quote.png">
                <h1 class="body-font quotes-text">{{ quote?.text }}</h1>
            </div>
    </div>
    <div fxFlex="1 0 auto"></div>
    <div class="vimalarowe" fxLayout="column" fxFlex="0 0 auto">
        <div fxFlex="100"></div>
        <div fxFlex>
            <h1>V<span class="gold">I</span>M<span class="gold">A</span>L<span class="gold">A</span></h1>
        </div>
        <div fxFlex>
            <h1>R<span class="gold">O</span>W<span class="gold">E</span></h1>
        </div>
    </div>
    <div fxFlex="50px" fxFlex.lt-md="10px"></div>

</div>


