
h1 {
    color: white;
}

@media screen  and (max-width: 599px){
    .vimalarowe div h1 {
        font-size: 32pt;
    }

}


@media screen  and (max-width: 599px) and (orientation: portrait){
    .main-content{
        height: 100%;
        background: url("../../../images/cover-pic@x1.jpg") no-repeat;
        background-position: -80px 0px;
        background-size: cover;
        overflow: hidden;
    }
}

@media screen  and (max-width: 599px) and (orientation: landscape){
    .main-content{
        height: 100%;
        background: url("../../../images/cover-pic@x1.jpg") no-repeat;
        background-position: 0px 0px;
        background-size: cover;
        overflow: hidden;
    }

}

@media screen  and (min-width: 600px){
    .vimalarowe div h1 {
        font-size: 72pt;
    }
    .quote div h1{
        font-size: 32pt;
    }
    .quotes-text{
        width: 300px;
    }
    .main-content{
        height: 100%;
        background: url("../../../images/cover-pic@x1.jpg") no-repeat;
        background-position: 0px 0px;
        background-size: cover;
        overflow: hidden;
    }


    img{
        -ms-transform: scale(1,1); /* IE 9 */
        -webkit-transform: scale(1,1); /* Safari */
        transform: scale(1,1);
    }


}

@media screen  and (min-width: 1280px){
    .vimalarowe div h1 {
        font-size: 112pt;
    }
    .quote div h1{
        font-size: 48pt;
    }
    .quotes-text{
        width: 500px;
    }
    img{
        -ms-transform: scale(2, 2); /* IE 9 */
        -webkit-transform: scale(2, 2); /* Safari */
        transform: scale(2, 2);
        padding-top: 90px;
    }
}

.quote div h1{
    text-align: right;
    margin: 10px;
    height: 0px;
    overflow-y: visible;
}

img{
    opacity: 0.2;
}

.vimalarowe div h1{
    font-family: "hwt-slab-columbian",serif;
    text-align: right;
    /*font-size: 72pt;*/
    margin: 0px;
    padding-right: 52px;
}

.gold{
    color:#e7c130;
}




.quotes-text{
    position: relative;
    top: -240px;
    overflow-y: visible;
}

.quote-container{
    padding-right: 52px;
}


