<div fxLayout="column" fxFlexFill class="main-content">
    <div fxFlex="1 0 auto"></div>
    <div  class="quote" fxFlex="1 0 auto" fxlayout="row" fxLayoutAlign="end stretch">
        <div fxLayout="column" fxFlex.gt-md="600px" fxFlex.lt-lg="320px" fxHide.lt-md="true">
            <div fxFlex="0 0 auto">
                <img src="../../../images/open-quote.png">
            </div>
            <div fxFlex>
                <h1 class="body-font">{{ quote.content }}</h1>
            </div>
            <div fxFlex="0 0 auto" fxFlexAlign="end">
                <img src="../../../images/close-quote.png">
            </div>
        </div>

        <div fxFlex="50px"></div>
    </div>
    <div fxFlex="1 0 auto"></div>
    <div fxFlex="1 0 auto" fxlayout="row">

        <div class="vimalarowe" fxLayout="column" fxFlex>
            <div fxFlex="100"></div>
            <div fxFlex>
                <h1>V<span class="gold">I</span>M<span class="gold">A</span>L<span class="gold">A</span></h1>
            </div>
            <div fxFlex>
                <h1>R<span class="gold">O</span>W<span class="gold">E</span></h1>
            </div>
        </div>
        <div fxFlex="50px" fxFlex.lt-md="10px"></div>
    </div>
</div>


