<form class="gig-container" #f="ngForm" (ngSubmit)="onSubmit()">
    <h4>{{ data.id ? 'Edit' : 'Create' }} Quote</h4>
    <p>
        <md-input-container class="full-width">
            <textarea mdInput
                      mdTextareaAutosize
                      [mdAutosizeMinRows]="1"
                      [mdAutosizeMaxRows]="2"
                      placeholder="Quote"
                      [(ngModel)]="data.text"
                      name="quote">
            </textarea>
        </md-input-container>
    </p>
    <div fxlayout="row" fxLayoutAlign="end center">
        <button md-raised-button
                fxFlex="0 0 auto"
                color="accent"
                type="submit"
                [disabled]="!f.form.valid">SAVE</button>
        <button md-raised-button
                fxFlex="0 0 auto"
                type="button"
                (click)="onCancel()">CANCEL</button>
    </div>
</form>


