button{
    margin-left: 50px;
}

md-slide-toggle{
    margin-left: 12px;
}
.add-button{
    margin: 12px;
}
.inline-fab{
    margin-left: 12px;
}

.md-icon-button{
    color: #ff4081;
}

mat-star-rating{
    width: 200px;
}