<form class="gig-container" #f="ngForm" (ngSubmit)="onSubmit()">
    <div fxLayout="column" fxLayoutGap="40px">

        <h4 fxFlex>{{ data.page.page_id ? 'Edit' : 'Create' }} Page</h4>
        <h4 *ngIf="!isCategoryRequired()">{{ data.categories[0].title }}</h4>
        <md-select class="cat-select"
                   *ngIf="isCategoryRequired()"
                   fxFlex="0 0 auto"
                   placeholder="Page"
                   [(ngModel)]="selectedCategory"
                   name="sel"
                   ngDefaultControl
                   [required]="isCategoryRequired() ? true : undefined">
            <md-option *ngFor="let category of data.categories" [value]="category">
                {{category.title}}
            </md-option>
        </md-select>

        <md-tab-group #mediaTabs fxFlex="300px" [dynamicHeight]="true">
            <md-tab label="Text">
                <text-editor-component #textEditor (OnTextAdded)="preview.createComponent($event)"></text-editor-component>
            </md-tab>
            <md-tab label="Image">
                <image-uploader-component #imageEditor (OnComplete)="preview.createComponent($event)"></image-uploader-component>
            </md-tab>
            <md-tab label="Video">
                <embed-video-component #videoEditor (OnVideoAdded)="preview.createComponent($event)"></embed-video-component>
            </md-tab>
            <md-tab label="Audio">
                <embed-audio-component #audioEditor (OnAudioAdded)="preview.createComponent($event)"></embed-audio-component>
            </md-tab>
        </md-tab-group>

        <app-collab #preview [collaboration]="clonedPage" [isPreviewMode]="true" (OnEditComponent)="DoEdit($event)"></app-collab>

        <div fxFlex fxlayout="row" fxLayoutAlign="end center">
            <button md-raised-button
                    fxFlex="0 0 auto"
                    color="accent"
                    type="submit"
                    [disabled]="!f.form.valid">SAVE
            </button>
            <button md-raised-button
                    fxFlex="0 0 auto"
                    type="button"
                    (click)="onCancel()">CANCEL
            </button>
        </div>
        <div fxFlex></div>
    </div>
</form>


