<div class="gigs-content">

    <div class="containerSite" fxLayout="row" fxLayoutAlign="center start">
        <div class="list-container" >
            <div fxLayout="column" fxFlex.gt-sm="50vw" fxFlex="90vw">
                <div  fxFlex="80px"></div>
                <md-list class="gig-list" fxFlex="1 1 auto">
                    <h4 md-subheader>Upcoming Dates</h4>
                    <md-list-item *ngFor="let gig of upcomingGigs">

                            <h4 md-line class="date-line">{{gig.date | date:'fullDate'}} </h4>
                            <h4 md-line><md-icon class="website-link"
                                    (click)="gigService.gotoWebsite(gig)"
                                    *ngIf="gigService.hasWebsite(gig)">launch</md-icon> {{gig.venue}}</h4>
                            <h4 md-line>{{gig.description}}</h4>
                            <button *ngIf="gigService.hasTicketURL(gig)" class="buy-tickets-small" md-mini-fab
                                (click)="gigService.buyTickets(gig)"
                                color="accent"><md-icon>credit_card</md-icon></button>
                            <button *ngIf="gigService.hasTicketURL(gig)" class="buy-tickets-large" md-raised-button
                                    (click)="gigService.buyTickets(gig)"
                                    color="accent">Tickets</button>

                    </md-list-item>
                </md-list>
                <md-list class="gig-list" fxFlex="1 1 auto">
                    <h4 md-subheader class="subheader-previous">Previous Gigs</h4>
                    <md-list-item *ngFor="let gig of previousGigs">

                        <h4 md-line class="description-line-previous">{{gig.date | date:'fullDate'}} </h4>
                        <h4 md-line class="description-line-previous">{{gig.venue}}</h4>
                        <h4 md-line class="description-line-previous">{{gig.description}}</h4>

                    </md-list-item>
                </md-list>
            </div>
        </div>
    </div>
</div>