<div class="media-content">
    <div class="containerSite" fxLayout="column" fxLayoutAlign="center center">

        <!-- AUDIO -->
        <div *ngIf="mediaType == typeAudio"
             fxFlex
             fxLayout="column"
             fxLayoutAlign="center center">
            <h1 class="body-font" fxFlex="0 0 auto">AUDIO</h1>
            <div class="media-container"
                 fxFlex="0 0 auto"
                 fxLayout="row true"
                 fxLayoutAlign="space-around center">
                <h2 class="body-font" fxFlex *ngFor="let source of mediaSources">
                    <a [href]="source.url" target="_blank">{{source.title}}</a>
                </h2>

            </div>
        </div>


        <!-- VIDEO -->
        <div *ngIf="mediaType == typeVideo"
             fxFlex
             fxLayout="column"
             fxLayoutAlign="start center" class="video-thumb-container">
            <div class="spacer" fxFlex="100px"></div>
            <h1 class="body-font" fxFlex="0 0 auto">VIDEO</h1>
            <div class="spacer" fxFlex="48px"></div>
            <app-video #videoPlayer [mediaModel]="selectedVideo"></app-video>

            <div class="spacer" fxFlex="48px"></div>
            <div fxFlex fxLayout="row true" fxLayoutAlign="center start" fxLayoutGap="12px">
                <video-thumb *ngFor="let source of mediaSources" (OnPlayVideo)="PlayVideo($event)" [mediaModel]="source"></video-thumb>
            </div>
            <div class="spacer" fxFlex="200px"></div>

        </div>
    </div>

</div>