md-sidenav-container {
    /*height: calc(100vh - 65px);*/
    height: 100vh;
    width: 100vw;
    position: absolute;
    left: 0;
    top:0;
    /*z-index: -1;*/
}

md-toolbar {
    position: absolute;
    left: 0;
    top:0;
    /*z-index: 1;*/
}


.sidenav-menu{
    background-color: #ff4081 !important;
}

.menu-layout-container{
    padding-top: 80px;
    height: 100%;
}

.mat-button, .mat-menu-item {
    font-size: 30px;
    color: white;
}

a:focus{
    outline:0 !important;
    text-decoration: none;
    color:#e7c130;
}

a:hover{
    text-decoration: none;
    color:#a82d56;
}
.active{
    color:#e7c130;
}

.separator{
    font-size: 26px;
}