<div class="contact-content">
    <div class="containerSite" fxLayout="column" fxLayoutAlign="center center">


        <!--<div fxFlex-->
             <!--fxLayout="column"-->
             <!--fxLayoutAlign="center center">-->
            <!---->
            <div class="contact-container"
                 fxFlex="0 0 auto"
                 fxLayout="column true"
                 fxLayoutAlign="space-around center">
                <h2>{{contact.fbUrl}}</h2>
                <h2>{{contact.twitterUrl}}</h2>
                <h2>{{contact.instaUrl}}</h2>
                <h2>{{contact.email}}</h2>

            </div>
        <!--</div>-->

    </div>

</div>